// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	padding: 5px 0;
	border-bottom: 1px solid #CCC;
	p { margin: 4px 0; }
	&:hover { background: #F7F7F7; }
	.admin { display: none; }
	&:hover .admin { display: inline; }
}